@model Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="row">
    <div class="col-md-5">
       
       
            <a asp-action="Edit" asp-controller="Books" class="btn btn-outline-info float-right">EDIT</a>
        
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        @using (Html.BeginForm("Delete", "Books", new { id = Model.Id }, FormMethod.Post))
        {
            <button id="cmdDelete" type="submit" class="btn btn-outline-danger float-right">Delete</button>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        @if (Model != null)
        {

        <table class="table table-bordered table-hover">
            <tr>
                <td>BookName</td>
                <td>@Model.BookName</td>
            </tr>
            <tr>
                <td>Author Name</td>
                <td>@Model.Author</td>
            </tr>
            <tr>
                <td>ISBN</td>
                <td>@Model.ISBN</td>
            </tr>
            <tr>
                <td>Genre</td>
                <td>@Model.Genre</td>
            </tr>
            <tr>
                <td>Published Date</td>
                <td>@Model.PublishedDate</td>
            </tr>
        </table>
        }
        else
        {
            <h2>NO Books Avaliable</h2>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <a asp-action="Index" asp-controller="Books">Back to Index</a>
    </div>
</div>
